.game-zone{
  position: relative;
  margin: 50px auto;
  height: 70vh;
  width: 70vh;
  border: 2px solid black;
}

.snake{
  position: absolute;
  width: 2%;
  height: 2%;
  border: 1px solid white;
  background-color: black;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  border: 1px solid white;
  background-color: red;
  z-index: 1;
}

@media (max-width: 500px) {
  .game-zone{
    height: 70vw;
    width: 70vw;
  }
}